extends index2
block content
	div(id="poll_container")
		-var myOptions = []
		-for(item in doc){
			-var a = item.split('_')
			-if(a.length===2&&a[0]!=""){
				-myOptions.push(doc[item])
			-}
		-}
	div(id="polls_container")
		h2(id="title_0",data-id=doc._id,class="question") #{doc.question}
		canvas(id="myCanvas_0")
		br
		div(class="0_options")
			-var optionCounter = 0
			each option in myOptions
				button(class="btn", id="0_"+optionCounter)
					=option
				-optionCounter+=1
		span(id="sp_0",class="sp")
		br
		-var voteCounter = 0
		each vote in doc.votes
			button(class="btn",class="0_"+voteCounter)
				=vote
			-voteCounter+=1		
		hr
		h3(class="mar") Comment System is coming soon	
	div(id="comment_container")
		div(id="comment_inp")
			textarea(class="form-control input",rows="5",type='textbox',name='comment',id="comment",placeholder="Leave a comment")
			button(class="btn",id="comm_sub") submit
		div(id="comments")
			ul(id="comm_list")
				each comment in comments
					li(id='comm')
						h3 #{comment.comment}
						<hr>
						h4 #{comment.commentor}
						h5 #{comment.date}
